<%- include('templates/header') %>
    <div class="container p-2">
        <div class="row mt-3 mb-5">
            <div class="col-md-6 col-sm-12 card p-3">
                <h3 class="text-center card-title">Registrar Usuario</h3>
                <form class="mt-5 card-body" action="/register" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Nombre</label>
                        <div class="col-sm-8">
                            <input required type="text" minlength="2" class="form-control" id="name" name="name"
                                value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input required type="email" class="form-control" id="email" name="email"
                                value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input required type="password" class="form-control" id="password" name="password"
                                value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password_confirm" class="col-sm-4 col-form-label">Confirmar Password</label>
                        <div class="col-sm-8">
                            <input required type="password" class="form-control" id="password_confirm" name="password_confirm"
                                value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 offset-sm-4">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12 card p-3">
                <h3 class="text-center card-title">Login</h3>
                <form class="mt-5 card-body" action="/login" method="POST">
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input required type="email" class="form-control" id="email" name="email"
                                value="asd@asd.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input required type="password" class="form-control" id="password" name="password"
                                value="1234">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-primary">Ingresar!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('templates/footer') %>